.header{
    background-color: #292F36;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
 &__img{
    margin-right: 10px;
 }

 &__txt {
    text-transform: uppercase;
    color: var(--main-color);
    font-family: "Madimi One", sans-serif;
 }
}